<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-desc-col">
        <div style="margin: auto; text-align: center;">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive [ Text + Display ] = Default == 4 --><ins class="adsbygoogle footer_ad"
            data-ad-client="ca-pub-2687924945894784" data-ad-slot="6087844827"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="footer-col-1">
        <div class="col-header">Important Links</div>
        <a href="https://www.alltechnotricks.com">Home</a>
        <a href="https://www.alltechnotricks.com/Blog.html">Blog</a><a
          href="https://www.alltechnotricks.com/contact.html" rel="noopener noreferrer" target="_blank">Contact
          Me.</a><a href="https://www.alltechnotricks.com/sitemap.html">Sitemap.html</a><a
          href="https://www.alltechnotricks/sitemap.xml">Sitemap.xml File</a>
      </div>
      <div class="footer-col-2">
        <div class="col-header">Follow Me On.</div>
        <a href="https://www.facebook.com/KarunakarPatel.001">Facebook</a><a
          href="https://twitter.com/Karna_Patel_">Twitter</a><a href="https://www.linkedin.com/in/karunakarpatel/"
          rel="noopener noreferrer" target="_blank">LinkedIn.</a>
        <a href="#" rel="noopener noreferrer" target="_blank">Youtube</a>
      </div>
      <div class="footer-desc-col">

        <div style="margin: auto; text-align: center;">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive [ Text + Display ] = Default == 4 --><ins class="adsbygoogle footer_ad"
            data-ad-client="ca-pub-2687924945894784" data-ad-slot="6087844827"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
</footer>

<div style="text-align: center; background-color: #dfdfe2; color: #1b1b32; font-weight: 1.8rem;">
  <p style="padding: 5px;">&copy; Copyright 2019. This site is highly customized and rediculously desinged by <a href="#">Karunakar Patel.</a> Find me at <a href="#">Karunakar Patel Blog.</a> <svg viewBox="0 0 448 512" style="width: 15px; height: 15px; animation: passing 2s ease-in-out infinite;"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg></p>
</div>
