
  <nav class="site-nav nav-padding">
   <div class="site-nav-left"></div>
   <div class="site-nav-middle">
    <a class="site-nav-logo" href="#"> <img src="https://karunakar2smart.github.io/pvapplications/uploads/avatar.png"> </a>
   </div>
   <div class="site-nav-right main-nav">
    <div class="main-nav-group">
     <ul class="nav" role="menu">
      <li class="nav-learn" role="menuitem"><a href="https://karunakar2smart.github.io/pvapplications/index.html">Home</a></li>
      <li class="nav-forum" role="menuitem"><a href="https://karunakar2smart.github.io/pvapplications/Blog.html">Blog</a>
      </li>
      <li class="nav-news" role="menuitem"><a href="https://www.alltechnotricks.com/contact.html">ContactMe.</a>
      </li>
     </ul>
    </div>
   </div>
</nav>